<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Scripts.TestWizardsBundle"/>
      <class name="Scripts.TestCardsDraft"/>
      <class name="Scripts.TestS_Wizards"/>
      <class name="Scripts.TestLogin"/>
      <class name="Scripts.TestFirmPassword"/>
      <class name="Scripts.TestFirm"/>
      <class name="Scripts.TestDraftReg"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
